.iframe-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.iframe-container::before {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.c-video-player__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}